<% placeholder = "TOEIC模試で900点がとれるようになった！\n" %>


<div class="uk-container-xsmall uk-container uk-padding uk-padding-remove-vertical uk-width-2-3@s">
  <div class="uk-margin-top">
    <%= form_for @prophet do |f| %>
      <fieldset class="uk-fieldset">
        <div class="uk-margin">
          <%= f.label :published_at, "達成予定", class: "uk-form-label" %>
          <small>※この日時にTweetが自動投稿されます</small>
          <div>
            <%= f.datetime_field :published_at, required: true, id: "calendar" %>
          </div>
        </div>

        <div class="uk-margin">
          <%= f.label :text, "予言ツイート(200文字まで)", class: "uk-form-label" %>
          <small>※達成することを過去形で予言しましょう</small>
          <div>
            <%= f.text_area :text, class: "uk-textarea", rows: 4, required: true, placeholder: placeholder, maxlength: 200  %>
          </div>
        </div>

        <div class="uk-margin uk-flex uk-flex-center">
          <%= f.submit '投稿予約', class: "uk-button uk-button-secondary round-button" %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>

`
