<% placeholder = "TOEIC模試で900点がとれるようになった！\n" %>


<div class="uk-container-xsmall uk-container uk-padding uk-padding-remove-vertical uk-width-2-3@s">
  <div class="uk-margin-top">
    <h4 class="uk-heading-line">投稿する</h4>
    <%= form_for @prophet do |f| %>
      <fieldset class="uk-fieldset">
        <div class="uk-margin">
          <%= f.label :published_at, "達成予定日", class: "uk-form-label" %>
          <small>※この日時にTweetが自動投稿されます</small>
          <div>
            <!-- TODO: スマホブラウザだと年選択がつかいにくい -->
            <%= f.text_field :published_at, required: true, id: "calendar" %>
          </div>
        </div>

        <div class="uk-margin">
          <%= f.label :text, "内容(50文字以内推奨)", class: "uk-form-label" %>
          <small>※達成することを過去形で予言しましょう</small>
          <div>
            <%= f.text_area :text, class: "uk-textarea", rows: 2, required: true, placeholder: placeholder, maxlength: 200  %>
          </div>
        </div>

        <div class="uk-margin">
          <div class="uk-flex uk-flex-center">
            <%= f.submit '投稿予約', class: "uk-button uk-button-secondary round-button uk-width-2-3 uk-width-1-2@s uk-width-1-3@m uk-margin-small" %>
          </div>

          <%= render 'prophets/modal' %>

          <div class="uk-margin uk-flex uk-flex-center">
            <small><%= link_to "TOPへ戻る", root_path, class: "uk-margin-small uk-text-muted" %></small>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>

