<head>
  <meta name="twitter:card" content="summary_large_image">
  <!-- <meta name="twitter:site" content="#"> -->
  <meta name="twitter:creator" content="@<%= @prophet.user.screen_name %>">
  <meta name="twitter:title" content="<%= @prophet.created_at.strftime("%Y/%m/%d") + 'に達成が予言された目標' %>">
  <meta name="twitter:description" content="<%= @prophet.text %>">
  <% url = "https://prophetter.herokuapp.com/ogp_images/ogp.png?text=" + @prophet.text + "&date=" + @prophet.published_at.strftime('%Y/%m/%d')  %>
  <meta name="twitter:image" content="<%= url %>">
</head>

<div class="uk-container-xsmall uk-container uk-margin-large uk-width-2-3@m">
  <h3 class="uk-text-center">達成まであと<%= @prophet.remaining_date %>日</h3>
  <%= render partial: "prophets/prophet", locals: { prophet: @prophet } %>
</div>




<div class="uk-container">
  <div class="uk-text-center uk-margin">
    <% if user_signed_in? %>
      <div>
        <%= link_to "Prophetする", new_prophet_path, class: "uk-button uk-button-secondary uk-width-2-3 uk-width-1-2@s uk-width-1-3@m round-button uk-margin-small" %>
      </div>
      <div>
        <%= link_to "みんなのProphet", prophets_path, class: "uk-button uk-button-default uk-width-2-3 uk-width-1-2@s uk-width-1-3@m round-button uk-margin-small" %>
      </div>
    <% else %>
      <div>
        <%= link_to "/auth/twitter", class: "uk-button uk-button-secondary uk-width-2-3 uk-width-1-2@s uk-width-1-3@m round-button uk-margin-small" do %>
          ログインする    <span uk-icon="icon: twitter; ratio: 1" class="uk-text-white"></span>
        <% end %>
      </div>
      <div>
        <%= link_to "みんなのProphet", prophets_path, class: "uk-button uk-button-default uk-width-2-3 uk-width-1-2@s uk-width-1-3@m round-button uk-margin-small" %>
      </div>
      <div class="uk-text-center">
        <small><%= link_to "はじめての方へ", details_path, class: "uk-margin-small uk-text-muted" %></small>
      </div>
    <% end %>
  </div>
</div>

