<div class="uk-section uk-section-default">
  <div class="uk-container">
    <h3 class="uk-heading-line">未来日記とは</h3>
    <p>未来日記とは、自分の目標やなりたい姿を、あたかもできたかのように日記のように書くことです</p>
    <small>参考: https://matome.naver.jp/odai/2139532986976967201</small>

    <h3 class="uk-heading-line">過去形で書こう！</h3>
    <p>コツは日記と同じように、「~だった。」「~ができた。」「~するようになった。」のように過去形で書くことです。これにより、脳が現在の自分とのギャップを埋めようとし、自分を行動へと向かわせてくれます。</p>


    <h3 class="uk-heading-line">Prophetterは目標達成をサポートする未来日記アプリです。</h3>
    <p>Prophetは英語で予言を表します。予言のようにあなたの夢や目標を現実にします。</p>
    <h5>使い方は簡単2ステップ</h5>
    <%= image_tag "prophetter.001.png", size: "500x500" %>

    <h3 class="uk-heading-line">未来日記を書いてみよう。</h3>
    <p>使い方が理解できましたか? さっそくProphetterで未来日記を書いて目標達成に一歩近づきましょう！</p>

    <div class="uk-text-center uk-margin">
      <% if user_signed_in? %>
        <div>
          <%= link_to new_prophet_path, class: "uk-button uk-button-secondary uk-width-2-3 uk-width-1-2@s uk-width-1-3@m round-button uk-margin-small" do %>
            未来日記を書く <span uk-icon="icon: twitter; ratio: 1" class="uk-text-white"></span>
          <% end %>
        </div>
        <div>
          <%= link_to "みんなのProphet", prophets_path, class: "uk-button uk-button-default uk-width-2-3 uk-width-1-2@s uk-width-1-3@m round-button uk-margin-small" %>
        </div>
      <% else %>
        <div>
          <%= link_to "/auth/twitter?option=post", class: "uk-button uk-button-secondary uk-width-2-3 uk-width-1-2@s uk-width-1-3@m round-button uk-margin-small" do %>
          未来日記を書く    <span uk-icon="icon: twitter; ratio: 1" class="uk-text-white"></span>
          <% end %>
        </div>
        <div>
          <%= link_to "みんなのProphet", prophets_path, class: "uk-button uk-button-default uk-width-2-3 uk-width-1-2@s uk-width-1-3@m round-button uk-margin-small" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


