<nav class="uk-navbar uk-padding-small uk-padding-remove-vertical background-white-transparent" uk-navbar uk-sticky>
  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo" href="/">Prophetter</a>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li class="uk-active">
        <% if user_signed_in?  %>
          <div class="uk-inline">
            <!-- <div>
              <%= link_to "Menu", new_prophet_path, class: "uk-button uk-button-default uk-text-default round-button" %>
            </div> -->
            <button class="uk-button uk-button-default uk-text-default round-button">
              Menu
            </button>
            <div uk-dropdown="mode: click">
              <ul class="uk-nav uk-dropdown-nav">
                <div class="dropdown-profile">
                  <div class="dropdown-content">
                    <%= image_tag current_user.image_url, class: "avatar" %>
                  </div>
                  <div class="dropdown-content">
                    <small><%= current_user.name %></small>
                  </div>
                </div>
                <li class="uk-nav-divider"></li>
                <!-- <li class="uk-active"><a href="#">Active</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li class="uk-nav-divider"></li> -->
                <li><%= link_to "未来日記を書く", new_prophet_path %></li>
                <li><%= link_to "あなたの未来日記", root_path %></li>
                <li><%= link_to "みんなの未来日記", prophets_path %></li>
                <li class="uk-nav-divider"></li>
                <li><%= link_to "Sign Out", "/logout" %></li>
              </ul>
            </div>
          </div>
        <% else %>
          <div class="uk-inline">
            <%= link_to "/auth/twitter", class: "uk-button uk-button-default uk-text-default round-button" do %>
              ログイン  <span uk-icon="icon: twitter; ratio: 1" class="uk-text-secondary"></span>
            <% end %>
          </div>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
